.jp-gsSidebar-widget {
  display: flex;
  flex-direction: column;
  min-width: var(--jp-sidebar-min-width);
  color: var(--jp-ui-font-color1);
  background: var(--jp-layout-color1);

  /* This is needed so that all font sizing of children done in ems is
   * relative to this base size */
  font-size: var(--jp-ui-font-size1);
}

/*
  sidebar header
*/
.jp-gsSidebar-header {
  border-bottom: var(--jp-border-width) solid var(--jp-border-color2);
  flex: 0 0 auto;
  font-size: var(--jp-ui-font-size0);
  font-weight: 600;
  letter-spacing: 1px;
  margin: 0;
  padding: 8px 12px;
  text-transform: uppercase;
}

.jp-gsSidebar-header .jp-gsSidebar-headerText {
  flex: 1 0 auto;
  margin: 0 4px;
}

.jp-gsSidebar-header .jp-ToolbarButtonComponent {
  background-color:rgb(177, 172, 172);
  width: 60px;
}

/*
  sidebar content
*/
.jp-gsSidebar-content .jp-gsSidebar-section-header {
  display: flex;
  justify-content: space-between;
  flex: 0 0 auto;
  margin: 0;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: var(--jp-ui-font-size0);
  line-height: 24px;
  height: 24px;
  padding: 4px;
}


.jp-gsSidebar-content.jp-gsSidebar-section-header > .jp-ToolbarButtonComponent {
  padding: 0 2px;
  border: 1px solid transparent;
  background-color: var(--jp-layout-color1);
  color: var(--jp-ui-font-color1);
}

.jp-gsSidebar-content
  .jp-gsSidebar-section-header
  .jp-gsSidebar-section-headerText {
  flex: 1 0 auto;
  margin: 0 4px;
}

.jp-gsSidebar-content
  .jp-gsSidebar-section-header
  .jp-gsSidebar-section-headerTextDisabled {
  flex: 1 0 auto;
  margin: 0 4px;
  color: var(--jp-layout-color3);
}

/*
  sidebar section content
*/
.jp-gsSidebar-section-content {
  color: var(--jp-ui-font-color1);
  font-size: var(--jp-ui-font-size1);
  font-weight: normal;
  margin: 8px 8px 8px 40px;
}

.jp-gsSidebar-sectionList {
  margin: 0;
  padding: 0;
  list-style-type: none;
}


.jp-gsSidebar-sectionItem {
  display: flex;
  flex-direction: row;
  color: var(--jp-ui-font-color1);
  height: var(--jp-private-running-item-height);
  line-height: var(--jp-private-running-item-height);
  padding: 0 1px;
}

.jp-gsSidebar-sectionItem:hover {
  background-color: var(--jp-layout-color2);
}

.jp-gsSidebar-sectionItemLabel {
  font-size: var(--jp-ui-font-size0);
  flex: 1 1 55%;
  padding: 0 4px;
  letter-spacing: 0.5px;
  font-weight: 500;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.jp-gsSidebar-sectionItemDisabled {
  font-size: var(--jp-ui-font-size0);
  color: var(--jp-layout-color3);
  flex: 1 1 55%;
  padding: 0 4px;
  letter-spacing: 0.5px;
  font-weight: 500;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.jp-gsSidebar-sectionItemLabel:focus {
  background-color: var(--jp-layout-color2);
}

.jp-gsSidebar-sectionItemDetail {
  color: var(--jp-ui-font-color3);
  font-size: var(--jp-ui-font-size8);
  flex: 1 1 45%;
  padding: 0 ;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.jp-gsSidebar-sectionItem .jp-gsSidebar-sectionItemShutdown {
  border-radius: 0;
}

.jp-gsSidebar-sectionItem:not(:hover) .jp-gsSidebar-sectionItemShutdown {
  visibility: hidden;

  /* display: none; */
}

.jp-gsSidebar-sectionList
  .jp-gsSidebar-sectionItem
  .jp-Button.jp-gsSidebar-sectionItemShutdown:hover {
  background: var(--jp-layout-color3);
}